<%= render 'layouts/header' %>

<main class="ting">

<%= render 'issue/toc_layout', homepage: false, issue: @issue %>

<%= link_to '/issues' do %>
<h3 class="center">See More Issues</h3>
<% end %>
</main>