<%= render 'layouts/header' %>

<%= render 'layouts/carousel', issues: @issues %>

<main id="home" class="ting">


    <%= render "issue/toc_layout", homepage: true, issue: @current_issue %>


</main>