<%
# fun data entry for future web editors
masthead = Hash.new

masthead['news'] = [
    "Jack Brook",
    "Isabel DeBre",
    "Chris Packs",
]
masthead['week in review'] = [
    "Eve Zelickson",
]
masthead['metro'] = [
    "Saanya Jain",
    "Marianna McMurdock",
    "Katrina Northrop",
]
masthead['arts'] = [
    "Maya Brauer",
    "Ruby Gerber",
    "Jack Manoogian",
]
masthead['features'] = [
    "Zack Kligler",
    "Gabriela Naigeborin",
    "Julia Tompkins",
]
masthead['metabolics'] = [
    "Dominique Pariso",
    "Erin West",
]
masthead['science'] = [
    "Liz Cory",
    "Paige Parsons",
]
masthead['tech'] = [
    "Liam Carpenter-Urquhart",
    "Jonah Max",
]
masthead['ephemera'] = [
    "Maya Bjornson",
]

masthead['occult'] = [
    "Sheena Raza Faisal",
    "Signe Swanson",
]
masthead['literary'] = [
    "Fadwa Ahmed",
    "Isabelle Doyle",
]
masthead['x'] = [
    "Liby Hays",
]
masthead['list'] = [
    "Lisa Borst",
]
masthead['staff writers'] = [
    "Mara Dolan",
    "Soraya Ferdman",
    "Nora Gosselin",
    "Neidin Hernandez",
    "Mariela Pichardo",
    "Paula Pacheco Soto",
    "Marly Toledano",
    "Kion You",
]
masthead['design editor'] = [
    "Eliza Chen",
]
masthead['designers'] = [
    "Amos Jackson",
    "Sophia Meng",
    "Ashley Min",
]
masthead['illustrations editor'] = [
    "Gabriel Matesanz",
]
masthead['staff illustrators'] = [
    "Anzia Anderson",
    "Julie Benbassat",
    "Alexandra Hanesworth",
    "Frans van Hoek",
    "Kela Johnson",
    "Teri Minogue",
    "Pia Mileaf-Patel",
    "Isabelle Rea",
    "Ivan Rios-Fetchko",
    "Claire Schlaikjer",
    "Kelly Wang",
    "Dorothy Windham",
]
masthead['copy editor'] = [
    "Miles Taylor",
]
masthead['business'] = [
    "Maria Gonzalez",
]
masthead['social media'] = [
    "Fadwa Ahmed",
    "Signe Swanson",
]
masthead['web'] = [
    "Alyssa McGillvery",
]
masthead['senior editors'] = [
    "Lisa Borst",
    "Kelton Ellis",
    "Sophie Kasakove",
    "Will Tavlin",
]
masthead['managing editors'] = [
    "Jane Argodale",
    "Will Weatherly",
    "Robin Manley",
]
%>

<h2>Masthead</h2>
<div id="masthead" class="pinterest-style-holder">
<% masthead.each do |section, people| %>
    <div class="pinterest-style-thing">
    <h4><%= section %></h4>
    <% people.each do |them| %>
        <p><%= them %></p>
    <% end %>
    </div>
<% end %>
</div>
