<%= render 'layouts/header' %>

<main class="static-page ting" style="text-align: center;">
    <h1>Apply</h1>
    <p><%= image_tag "Indy_Flyer_2018.jpg" %></p>
    <p style="font: 30pt/30pt; text-transform: uppercase;">
        <!-- <h4 style="margin-bottom:0;"><a href="/bus.docx">Business Team Application</a></h4> -->
        <h4 style="margin-bottom:0;"><a href="/ed.pdf">Editor Application</a></h4>
        <h4 style="margin-bottom:0;"><a href="/sw.pdf">Staff Writer Application</a></h4>
        <h4 style="margin-bottom:0;"><a href="/co.pdf">Copyeditor Application</a></h4>

        <h4 style="margin-bottom:0;"><a href="/il.docx">Design/Illustration Application</a></h4>
        <!-- <h4 style="margin-bottom:0;"><a href="/web.docx">Webmaster Application</a></h4> -->
    </p>
    <br>
    <br>
</main>
