<%= render 'layouts/nav' %>

<main class="static-page ting" style="text-align: center;">
	    <p><%= image_tag "app.jpg" %></p>
	    <p style="font: 30pt/30pt; text-transform: uppercase;">
            <h4 style="margin-bottom:0;"><a href="/ed.doc">EDITOR APPLICATION</a></h4>
            <h4 style="margin-bottom:0;"><a href="/sw.doc">STAFF WRITER APPLICATION</a></h4>
            <h4 style="margin-bottom:0;"><a href="/il.doc">DESIGN/ILLUSTRATION APPLICATION</a></h4>
            <h4 style="margin-bottom:0;"><a href="/web.doc">WEBMASTER APPLICATION</a></h4>
	    </p>
</main>




