<%= render 'layouts/header' %>

<main class="static-page ting" style="text-align: center;">
    <h1>Apply</h1>
    <p><%= image_tag "app.jpg" %></p>
    <p style="font: 30pt/30pt; text-transform: uppercase;">
        <h4 style="margin-bottom:0;"><a href="/ed.doc">Editor Application</a></h4>
        <h4 style="margin-bottom:0;"><a href="/sw.doc">Staff Writer Application</a></h4>
        <h4 style="margin-bottom:0;"><a href="/il.doc">Design/Illustration Application</a></h4>
        <h4 style="margin-bottom:0;"><a href="/web.doc">Webmaster Application</a></h4>
    </p>
    <br>
    <br>
</main>




