<%= render 'layouts/header' %>


<main class="donate ting">
<h1 class="center">Donate</h1>
<br>
<div class="center">
<%= image_tag 'tote.jpeg', width: 300 %>
</div>
<br>
<p style="font-size: 14pt;">This spring, the Indy was warmed by the outpour of alumni support following the Undergraduate Finance Board’s challenges to our print funding. Thankfully, the UFB did not defund the paper, but this was not the first time the Indy’s funding was threatened, and we don’t expect it to be the last. The Indy has been working hard to find alternative, supplementary measures to be better prepared in the future. </p>
<p style="font-size: 14pt;">That’s why we wanted to ask for your help. For the month of June, we’re asking Indy alum for donations on a sliding scale, starting at $25, in return for our Indy tote bags pictured above. We do not intend for these donations to supplant UFB’s funding—rather, your gifts will help support the off-campus distribution of our paper (which UFB stopped funding this past year) and initiatives like funding for low-income staff members, ongoing efforts which we see as integral to making the Indy a more inclusive project. </p>
<p style="font-size: 14pt;">While Brown makes direct donations to student groups particularly thorny, we have established a way for Indy alum to give tax-deductible donations to the paper through the Office of Advancement’s website. You can make your donation to the Indy at <a style="font-weight:bold;" href="https://gifts.brown.edu">gifts.brown.edu</a> by following a few quick steps:</p>
<ol style="margin: 0 4em; font: normal 14pt 'Kings Caslon', serif;"">
<li><p style="font-size: 14pt;">On the field at the bottom of the first page, search for “College Hill Independent.” The search will prompt an “Other” box to appear below, which you can check to specify your donation.</p></li>
<li><p style="font-size: 14pt;">In that “Other” field, enter “College Hill Independent.”</p></li>
<li><p style="font-size: 14pt;">Click “Add Your Gift” below, and enter your donation amount, personal information, and payment information. Be sure to include mailing information so we can send your tote to you by September at the latest.</p></li>
</ol>
<p style="font-size: 14pt;">You can also write a check donation and send it to us at the address below! Please make sure to specify “College Hill Independent” in the memo field and include contact information (mailing address preferred).</p>
<div class="center"><pre>Brown University
Gift Cashier
Box 1877
Providence, RI 02912.</pre></div>
<p style="font-size: 14pt;">We are incredibly grateful for your continued support of the Indy. Keep an eye out for more news for alumni in the coming months. Be sure to <a style="font-weight:bold;" href="http://www.theindy.org/subscribe">sign up here</a> if you would be included on our list of alumni to keep in touch with, and feel free to contact us at <a style="font-weight:bold;" href="mailto:theindy@gmail.com">theindy@gmail.com</a> if you have any questions. 

<br><br><br>
</main>