<style type="text/css">
    html, body {
        width:100%;
        height: 100%;
    }
    @-webkit-keyframes zoom {
        from {height: 100%;}
        to {height: 120%;}
    }

    @-moz-keyframes zoom {
        from {height: 100%;}
        to {height: 120%;}
    }

    @-o-keyframes zoom {
        from {height: 100%;}
        to {height: 120%;}
    }

    @keyframes zoom {
        from {height: 100%;}
        to {height: 120%;}
    }

    body {
    text-align: center;
    overflow: hidden;
    }

    .text-404 {
        position: fixed;
        right: 10%;
        top: 40%;
        font-size: 20px;
        line-height: 25px;
    }

    .creepy-zoom {

        -webkit-animation: zoom 20s linear;
        -moz-animation: zoom 20s linear;
        -o-animation: zoom 20s linear;
        animation: zoom 20s linear;

        width: 100%;
        height: 120%;
        background: url(/assets/snowtown.jpg);
        background-size: cover;
    }
</style>

<div class="creepy-zoom">
    <div class="text-404">
        500 <br>
        Looks like there was an error <br>
        <%= link_to "Get me out of here", root_path %>
    </div>
</div>