<%= render 'layouts/header' %>

<main class="list static-page ting" style="text-align: center;">
    <div class="entry-content">
      <p><%= image_tag @thelist.image(:normal), id: "list" %></p>
    </div>
</main>




