<%= render 'layouts/header' %>

<% 
# fun data entry for future web editors
masthead = Hash.new
masthead["Managing Editors"] = [
    'Kelton Ellis',
    'Dolma Ombadykow',
    'Will Tavlin',
]
masthead["News"] = [
    'Piper French',
    'Hannah Maier-Katkin',
    'Roksana Borzouei',
]
masthead["Week in Review"] = [
    "Sam Samore",
]
masthead["Metro"] = [
    'Shane Potts',
    'Jane Argodale',
    'Camila Ruiz Segovia',
    'Jack Brook',
]
masthead["Arts"] = ['Will Tavlin',
    'Ryan Rosenberg',
    'Will Weatherly',
    'Saanya Jain',
]
masthead["Features"] = [
    'Julia Tompkins',
    'Erin West',
    'Andrew Deck',
]
masthead["Metabolics"] = [
    'Dominique Pariso',
    'Elias Bresnick',
]
masthead["Science"] = [
    'Fatima Husain',
    'Liz Cory',
]
masthead["Tech"] = [
    'Jonah Max',
    'Malcolm Drenttel'
]
masthead["Occult"] = [
    'Lance Gloss',
    'Robbie Manley'
]
masthead["Interviews"] = [
    'Patrick McMenamin',
]
masthead["Literary"] = [
    'Stefania Gomez',
    'Isabelle Doyle'
]
masthead["Ephemera"] = [
    'Anna Bonesteel',
]
masthead["X"] = [
    'Liby Hays',
    'Nicole Cochary'
]
masthead["List"] = [
    'Lisa Borst',
]
masthead["Staff Writers"] = [
    'Eve Zelickson',
    'Marianna McMurdock',
    'Hannah Maier-Katkin',
    'Signe Swanson',
    'Josh Kurtz',
    'Corey Hebert',
    'Zack Kligler',
    'Brionne Frazier',
    'Chris Packs',
    'Kion You',
]
# masthead["Cover"] = [
#     'Jade Donaldson'
# ]
masthead["Illustrations Editor"] = [
    'Gabriel Matesanz',
]
masthead["Staff Illustrators"] = [
    'Frans van Hoek',
    'Teri Minogue',
    'Ivan Rios-Fetchko',
    'Maria Cano-Flavia',
    'Pia Mileaf-Patel',
    'Kela Johnson',
    'Julie Benbassat',
    'Dorothy Windham',
    'Anzia Anderson',
    'Isabelle Rea',
    'Claire Schlaikjer'
]
masthead["Copy Editor"] = ['Miles Taylor']
masthead["Design Editor"] = ['Chelsea Alexander']
masthead["Designers & Layout"] = [
    'Celeste Matsui',
    'Meryl Charleston',
    'Andrew Linder',
    'Ruby Stenhouse',
    'Mark Benz',
]
masthead["Webmasters"] = ['Charlie Windolf', 'Alberta Devor']
masthead["Business Manager"] = ['Lance Gloss']
masthead["Social Media"] = [
    'Jane Argodale',
    'Signe Swanson'
]
masthead["Senior Editors"] = [
    'Alec Mapes-Frances',
    'Sophie Kasakove',
    'Lisa Borst',
    'Jamie Packs'
]
%>

<main class="static-page ting">
    <h1>Masthead</h1>
    <div id="masthead" class="pinterest-style-holder">
    <% masthead.each do |section, people| %>
        <div class="pinterest-style-thing">
        <h4><%= section %></h4>
        <% people.sort_by(&:downcase).each do |them| %>
            <p><%= them %></p>
        <% end %>
        </div>
    <% end %>
    </div>

</main>