/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require fonts
 *= require_self
 *= require pages
 *= require admin
 *= require article
 *= require issue
 *= require toc
 *= require main
 *= require pages
 *= require header
 *= require nav
 *= require home
 *= require mobile
 */


img {
    max-width: 100%;
}

header, .ting {
    margin: 0 auto;
    max-width: 1024px;
}

body, html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', sans-serif;
    font-weight: 900;
}

p {
    font-family: 'Kings Caslon', serif;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 26px;
}

a {
    color: black;
    text-decoration: none;
}

.caret:before, .caret:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
}

.caret::before {
    top: 0;
    left: 0;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.caret::after {
    bottom: 0;
    right: 0;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}


a:hover {
    text-decoration: underline;
}

abbr[title] {
    border-bottom: 0px dotted;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.link-like {
    cursor: pointer;
}

.link-like:hover {
    text-decoration: underline;
}

.notice, .alert {
    position: fixed;
    width: 300px;
    margin-left: -150px;
    top: 10px;
    left: 50%;
    background-color: #FFF;
    z-index: 2;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 0px 13px #8A8A8A;
    padding: 5px;
}

.adsbygoogle {
    display: none !important;    
}