// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// row partial

.article-row {
    width: 100%;
    h3 {
        padding-bottom: 0;
    }
    h4 {
        padding: 0;
        padding-top: 0.25em;
    }
    .thumb {
        margin: 30px 15px 15px 0px;
        float: left;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
    }
}
// end row partial

article {
    padding-bottom: 50px;
    h1 {
        padding-bottom: 0.5em;
    }
    h3 {
        padding: 0.5em 0;
        font-style: italic;
    }
    p {
        margin: 1em 0.5em;
    }
}

.mobile-article-title {
    display:none;
}

.article-cover {
    width: 100%;
    height: 600px;
    position: fixed;
    top: 0px;
    z-index: -1;
    .article-cover-header {
        position: absolute;
        bottom: 0px;
        max-width: 650px;
        text-align: left;
        left: 50%;
        margin-left: -325px;
        color: white;
        font-family: 'Avenir', sans-serif;
        font-style: italic;
        margin-bottom: 20px;
        padding: 0 0.5em;
        h1 {
            font-weight: bold;
            font-style: normal;
            font-size: 3em;
            margin: 0.2em 0;
        }
    }
    .article-cover-image {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

.zoom {
    display: inline-block;
    cursor: move;
}

.article-content {
    background-color: white;
    z-index: 1;
    .article-title {
        max-width: 100%;
        margin: 0px auto;
        text-align: center;
    }

}

.archive {
    .aligncenter {
        display: block;
        margin: 0px auto;
    }
}


.article-content-first {
    margin-top: 600px;
}

.article-content-inner {
    max-width: 650px;
    margin: 0px auto 0px auto;
    position: relative;
    font-size: 20px;
    line-height: 25px;
}

.inner-hero-image {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px 0;
}

.inner-normal-image {
    max-width: 650px;
    margin: 0px auto 0px auto;
    padding: 20px 0 20px 0;
}

.inner-large-image {
    max-width: 900px;
    margin: 0px auto 0px auto;
    padding: 20px 0 20px 0;
}

article iframe {
    border: none;
}

@media only screen and (max-width: 768px) {
    article h3 {
        padding: 0;
    }
    .article-row {
        margin: 1em;
        h3 {
            padding-top: 0;
        }
        .thumb {
            float: none;
            width: calc(100% - 2em);
        }
    }

    .article-cover {
        background-size: 100%;
        height: 375px;
    }

    .nav {
        display: none;
    }
    .article-content-first {
        margin-top: 375px;
    }
    .article-cover-header {
        display: none;
    }
    .mobile-article-title {
        display: block;
    }
}