@font-face {
    font-family: 'favorit';
    src: font-url('favorit_heavy.eot');
    src: font-url('favorit_heavy.eot?#iefix') format('embedded-opentype'),
         font-url('favorit_heavy.svg#favoritheavy') format('svg');
    src: font-url('favorit_heavy.woff2') format('woff2'),
         font-url('favorit_heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'favorit';
    src: font-url('favorit_italic.eot');
    src: font-url('favorit_italic.eot?#iefix') format('embedded-opentype'),
         font-url('favorit_italic.svg#favorititalic') format('svg');
    src: font-url('favorit_italic.woff2') format('woff2'),
         font-url('favorit_italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'favorit';
    src: font-url('favorit_light.eot');
    src: font-url('favorit_light.eot?#iefix') format('embedded-opentype'),
         font-url('favorit_light.svg#favoritlight') format('svg');
    src: font-url('favorit_light.woff2') format('woff2'),
         font-url('favorit_light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'favorit';
    src: font-url('favorit_regular.eot');
    src: font-url('favorit_regular.eot?#iefix') format('embedded-opentype'),
         font-url('favorit_regular.svg#favorit_regularregular') format('svg');
    src: font-url('favorit_regular.woff2') format('woff2'),
         font-url('favorit_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'favorit';
    src: url('favorit_light-italic.eot');
    src: url('favorit_light-italic.eot?#iefix') format('embedded-opentype'),
         url('favorit_light-italic.svg#favoritlight_italic') format('svg');
    src: url('favorit_light-italic.woff2') format('woff2'),
         url('favorit_light-italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
