main#home {
    a:hover h2 {
        text-decoration: underline;
    }
}

p.meta {
    font-family: 'Avenir', sans-serif;
    font-style: italic;
}

#current-issue-mobile {
    display: none;
}

#top-feat, #low-feat {
    p.excerpt {
        text-align: left;
        margin: 0 1em;
    }
    h4 {
        padding: 0 0 0.5em 0;
    }
    h5 {
        padding: 0;
    }
}

#top-feat {
    position: relative;
    margin: 0 1em;
    text-align: center;
    .top-feat-article {
        vertical-align: top;
        height: 100%;
        display: inline-block;
        width: calc(49% - 2em);
        margin: 0;
        padding: 1em;
        .img-holder {
            position: relative;
            width: 100%;
            height: 140px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 1em;
        }
    }
}

#top-feat:before {
        content: "";
        height: calc(100% - 30px);
        position: absolute;
        bottom: 15px;
        right: 50%;
        border-right: 1px solid black;
}

#top-feat:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: black;
}

#low-feat {
    position: relative;
    .low-feat-article {
        vertical-align: top;
        text-align: center;
        height: 100%;
        float: left;
        width: calc(33.33% - 60px);
        padding: 15px 30px;
    }
    h4, h5 {
        padding-bottom: 0;
    }
    .img-holder {
        width: 100%;
        height: 100px;
        background-position: center;
        background-size: contain;
    }
}

#low-feat:before {
    content: "";
    position: absolute;
    left: 33.33%;
    width: 1px;
    top: 15px;
    height: calc(100% - 30px);
    background-color: black;
    z-index: 100;
}

#low-feat:after {
    content: "";
    position: absolute;
    right: 33.33%;
    width: 1px;
    top: 15px;
    height: calc(100% - 30px);
    background-color: black;
}

.no-pad-bottom {
    padding-bottom: 0;
}

.feed {
    padding: 0 1em;
    .pagination {
        h4, p {
            display: inline-block;
        }
        p {
            font-size: 1.5em;
            margin: 0 1em;
            cursor: default;
        }
    }
}

@media (max-width: 768px) {
    #current-issue {
        display: none;
    }

    #current-issue-mobile {
        display: block;
    }
}
