// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.search-count {
	font-weight: lighter;
}

.pinterest-style-holder {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	break-after: always;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
	text-align: center;
}

.pinterest-style-thing {
	display: block;
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	h5 {
		padding-bottom: 0;
	}
}

.static-page h1, .static-page h2 {
	text-align: center;
}

.static-page h1 {
	margin-bottom: 0;
}

.static-page img {
	max-width: 750px;
	width: 100%;
}

#masthead {
	h4 {
		padding-bottom: 0.25em;
	}
	p {
		margin: 0;
		font-size: 1.25em;
	}
}

input {
	width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.25em;
    font-family: 'Avenir', sans-serif;
    font-weight: lighter;
}

.static-page.list {
	padding: 1em
}

#list {
	width: calc(100% - 2em);
	height: auto;
}

.subscribe.ting {
	padding: 1em;
	text-align: center;
	form {
		display: inline-block;
		width: 400px;
	}
	input {
		width: calc(100% - 0.75em);
	}
	input[type=submit] {
		margin-top: 1em;
		padding: 0.25em;
		width: 100%;
		background-color: #dadada;
	}
}

@media (max-width: 768px) {
	.subscribe.ting {
		display: block;
		padding: 1em;
		form {
			width: 100%;
			max-width: 400px;
		}
		input {
			width: calc(100% - 0.75em);
		}
		input[type=submit] {
			margin-top: 1em;
			padding: 0.25em;
			width: 100%;
			background-color: #dadada;
		}
	}

}

