<div id="carousel">
<ul>
<% issues.each do |i| %>
    <li class="car">
        <%= link_to image_tag(i.cover), "toc/" + i.id.to_s %>
        <%= link_to '<p class="pdf-link">read as PDF</p>'.html_safe, "i/" + i.id.to_s %>
    </li>
<% end %>
    <li class="car">
    <%= link_to "/issues" do %>
        <h3 class="center">All</h3>
        <h3 class="center" style="padding-top: 0;">Issues</h3>
    <% end %>
    <p class="pdf-link noselect" style="color: white;">ignore me lol</p>
    <p class="pdf-link noselect" style="color: white;">ignore me lol</p>
    <p class="pdf-link noselect" style="color: white;">ignore me lol</p>
    </li>
<ul>
</div>